// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   : #1976D2;
// $secondary : #26A69A;
// $accent    : #9C27B0;

// $dark      : #1D1D1D;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;


$primary   : #546E7A;
$secondary : #009688;
$accent    : #9c27b0;
$dark      : #263238;
$positive  : #4caf50;
$negative  : #d32f2f;
$info      : #00acc1;
$warning   : #fdd835;

$dark-page : #121212;

$title-bar : #37474F;

$color-l5: lighten($primary, 45%);
$color-l4: lighten($primary, 40%);
$color-l3: lighten($primary, 30%);
$color-l2: lighten($primary, 20%);
$color-l1: lighten($primary, 10%);
$color-00: $primary;
$color-d1: darken($primary, 10%);
$color-d2: darken($primary, 20%);
$color-d3: darken($primary, 30%);
$color-d4: darken($primary, 40%);
$color-d5: darken($primary, 45%);

$color-l3-hl1: lighten($primary, 32%);
$color-l2-hl1: lighten($primary, 25%);

//* ------------------------------- HEADINGS ------------------------------- *//
$h1: (
	size: 2rem,
	line-height: 2.05rem,
	letter-spacing: -0.01562em,
	weight: 300,
) !default;
$h2: (
	size: 1.5rem,
	line-height: 1.5rem,
	letter-spacing: -0.00833em,
	weight: 300,
) !default;
$h3: (
	size: 1.2rem,
	line-height: 1.25rem,
	letter-spacing: normal,
	weight: 400,
) !default;
$h4: (
	size: 1rem,
	line-height: 1.05rem,
	letter-spacing: 0.00735em,
	weight: 400,
) !default;
$h5: (
	size: 0.85rem,
	line-height: 0.85rem,
	letter-spacing: normal,
	weight: 400,
) !default;
$h6: (
	size: 0.75rem,
	line-height: 0.75rem,
	letter-spacing: 0.0125em,
	weight: 500,
) !default;
$subtitle1: (
	size: 1rem,
	line-height: 1.05rem,
	letter-spacing: 0.00937em,
	weight: 400,
) !default;
$subtitle2: (
	size: 0.85rem,
	line-height: 1rem,
	letter-spacing: 0.00714em,
	weight: 500,
) !default;
$body1: (
	size: 1rem,
	line-height: 1.05rem,
	letter-spacing: 0.03125em,
	weight: 400,
) !default;
$body2: (
	size: 0.85rem,
	line-height: 1rem,
	letter-spacing: 0.01786em,
	weight: 400,
) !default;
$overline: (
	size: 0.75rem,
	line-height: 1rem,
	letter-spacing: 0.16667em,
	weight: 500,
) !default;
$caption: (
	size: 0.75rem,
	line-height: 1rem,
	letter-spacing: 0.03333em,
	weight: 400,
) !default;
